@charset "utf-8";
/* CSS Document */

body
{
margin:0;
padding:0;
background:#fff;
}

#logo
{
width:650px;
margin:auto;
padding-top:60px;
padding-bottom: 40px;
text-align: center;

}

#wrapper
{
background-color: #fff;
margin:auto;
width:960px;
}

#wrapper h1
{
	text-align: center;
color:#0b8dca;
font-family:Arial, Helvetica, sans-serif;
font-size:17px;
width: 650px; 
margin:auto;
padding-top:10px;
padding-bottom:10px;
}

#wrapper p
{
text-align: center;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
width:350px; 
margin:auto;
padding-bottom:30px;
/*padding-right:150px;*/
font-size:11px;
line-height:19px;
}


.newsletter-topic
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
padding-top:20px;
display:block;
height:20px;
color:#c9ced0;
padding-left:156px;
}

.newsletter-topic span
{
color:#0297f6;
font-weight:bold;
}

.copyright
{
color:#555658;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}